<!--
 Author bt0r
 Twitch : twitch.tv/bt0r
 Twitter : twitter.com/biiitor
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/loader.css">
    <script src="js/vue.js"></script>
	<style>
	.progression{
		left: 0;
		position:absolute;
		top: 0;
		width: 100%;
		height: 5px;
		background: rgba(0, 200, 0, 00);
		z-index: 3;
	}

	.progress{
		position:absolute;
		width: 0;
		height: 100%;
		background: rgba(0, 255, 0, 0.50);
		
		color:rgba(0, 255, 0, 0.50);
		font-weight: bold;
		font-size: 10px;
		font-family: 'Lato', sans-serif;
	}

	</style>
</head>
<body>

<div id="loader">
<div class="progression">
	<div class="progress">Loading...</div>
</div>
    <transition name="fade">
        <div v-if="showed">
            <img id="loadingCharacter" :src="characterImage" :class="characterClass">
            <img id="loadingBackground" :src="backgroundImage" :class="backgroundClass">
        </div>
    </transition>
    <!--<img id="loadingLogo" src="img/logo.png">-->
    <audio id="introSound" src="sound/intro2.ogg" controls loop />
</div>

<script type="text/javascript">
// this will actually restart the loading bar a lot, making multiple loading bars is an exercise to the reader... for now.
// for a set of possible events, see https://github.com/citizenfx/cfx-client/blob/up-master/components/loading-screens-five/src/LoadingScreens.cpp
var count = 0;
var thisCount = 0;
var allCount = 0;

const handlers = {
    startInitFunctionOrder(data)
    {
    },

	initFunctionInvoking(data)
    {
        document.querySelector('.progress').style.left = '0%';
        //document.querySelector('.progress').style.width = ((data.idx / count) * 100) + '%';
    },
	
	startDataFileEntries(data)
    {
        count = data.count;
        document.querySelector('.progress').innerHTML += "\u{1f358}";
    },
	
    performMapLoadFunction(data)
    {
        ++thisCount;

        document.querySelector('.progress').style.left = '0%';
        document.querySelector('.progress').style.width = ((thisCount / count) * 100) + '%';
    },
	

    onLogLine(data)
    {
        document.querySelector('.progress').innerHTML = data.message;
    }
};

window.addEventListener('message', function(e)
{
    (handlers[e.data.eventName] || function() {})(e.data);
});
</script>
<script src="js/loader.js"></script>
</body>
</html>